.root {
  margin: auto 2%;
}

.root textarea {
  font-size: 1.2em;
  font-family: monospace;
  width: 100%;
  max-width: 60em;
}

.root.error textarea {
  border: 1px solid var(--col-red);
  background-color: rgba(255, 0, 0, 0.2);
}

.root form {
  max-width: 60em;
}

.errorMsg {
  color: var(--col-red);
  font-size: 1.4em;
  margin: 1em 0;
}

.buttonRow {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 0 0;
}

.buttonRow button,
.buttonRow input[type='submit'] {
  font-size: 1.5rem;
  padding: 0.5em;
  border: 0;
  line-height: 1.3em;
  margin-right: 1em;
  background-color: white;
  border: 1px solid var(--col-text);
}
.buttonRow button:disabled,
.buttonRow input[type='submit']:disabled {
  opacity: 0.5;
  background-color: transparent;
  border: 1px solid var(--col-white);
}

.buttonRow input[type='submit'] {
  margin-left: auto;
  margin-right: 0;
}
